<!DOCTYPE html>
<html lang="ro">
<head>
  <meta charset="UTF-8">
  <title>5G SINR Simulation</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="controls">
    <button class="button" id="moveUp">↑</button>
    <div id="horizontal-controls">
      <button class="button" id="moveLeft">←</button>
      <button class="button" id="moveRight">→</button>
    </div>
    <button class="button" id="moveDown">↓</button>
  </div>
  
  <div id="infoPanel">
    <div id="signalStrength1">RSRP 1: N/A</div>
    <div id="signalQuality1">RSRQ 1: N/A</div>
    <div id="signalStrength2">RSRP 2: N/A</div>
    <div id="signalQuality2">RSRQ 2: N/A</div>
    <div id="handoverMessage"></div>
    <div id="handoverCount">Handovers: 0</div>
    <div id="cellLoad">Cell Load: 0%</div>
  </div>

  <script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>

 <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
